.btn {
  text-align: center;
  padding: 8px;
  min-width: 100px;
  border: none;

  background-color: rgb(148, 13, 27);
  color: #ffffff;
  transition: background-color 250ms linear;
}

.btn:hover {
  background-color: rgb(8, 7, 7);
}
